# Dependencies
node_modules/

# Build output
dist/
out/
build/

# Electron
*.exe
*.dmg
*.deb
*.rpm

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Temporary files
*.tmp
